
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }




}


@media (max-width: 991px) {


  .mycontainer {
    padding-left: 15px;
    padding-right: 15px;
}

  .mobile-nav-toggle {
    display: block;
  }

  .webLogo
{
  display: none;
}

.AppLogo
{
  display: block;
  width: 100%;
  text-align: center;
  text-align: -webkit-center;
  /* background: white; */
}

.AppLogo a
{

  display: block;
  background: white;
  width: fit-content;
}


.lang_logo
{
  display: block;
}


.home-1nd-sec
{
  height: 50vh;
}

.wrapper-center {
  width: 90%;
}

.home-1nd-sec p {
  font-size: 16px;
}


.blogsection .blog-card h2 {

  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 22px;

}

.blogsection .blog-card p {
  margin-bottom: 20px;
  font-size: 18px;
}

.blogsection .blog-card {
  margin-bottom: 65px;
  padding-bottom: 20px;
}

.card_button {
  font-size: 22px;
}


.boarding_section .boarding_1 .page_icon {
  margin: 30px 0px;
}

.boarding_section .boarding_1 {
  padding: 25px 20px 25px 25px;

}


.kempSection .card .card-body {
  padding: 10px 0px;
}

.boradingSliderSection .slick-next {
  right: -26px;
}

.boradingSliderSection .slick-prev {
  left: -26px;
}

.boarding_section .d-flex
{
  flex-wrap: wrap;
}

.boarding_section .boarding_1 , .boarding_section .boarding_2 { 
  width: 100%;
}


.treneri-section .team-name {
  width: 80%;
 }

 .treneri1section .pic ul {
  padding-left: 20px;
}
.p-side ul img {
  width: 55px !important;
  padding: 0px;
}
.dot {
  height: 10px;
  width: 10px;
  margin-left: 1px !important;
}
.treneri1section h2 {
  padding: 12px 28px 12px 12px;
  right: 20px;
  font-size: 25px;
}

.treneri1section .p-detail ul li span:last-child {
  font-size: 16px;
  
}

.treneri1section .p-detail ul li span:first-child {
  font-size: 16px;
  width: 30%;
}

.profile-detail {
  padding-left: 0px;
  padding-right: 0px;
}


.gallery-controls-next::before , 
.gallery-controls-previous::before
{
  height: 25px;
  width: 25px;
}



.akcie-2nd-section .full-width-container .sidebar {
  width: 29%;

}


.akcie-2nd-section .full-width-container .content-sec1 .container ul li span:first-child {
  width: 24%;
  padding-right: 40px;
}

.akcie-2nd-section .full-width-container .content-sec1 .bottom-buttuns .btn {
  border-radius: 5px;
  padding: 11px 28px;
  font-size: 15px;
}

.akcieslider .gallery-container {
  height: 450px;
}

.akcie-2nd-section .full-width-container .content-sec .container {
  margin-left: 30%;
  width: 65%;

}
.akcie-2nd-section.akcie-form .full-width-container .content-sec1 .container ul li span:last-child .form-control {
  width: 100%;
}


}

@media screen and (max-width: 768px) {

  .gallery-controls {
    width: 114%;
    right: -7%;  
}


.akcieslider .gallery-controls {
  width: 80%;
  right: 10%;
}

.gallery-container {
  height: 350px;
  width: 80%;
}


.akcieslider .gallery-container {
  height: 300px;
}

  [data-aos-delay] {
    transition-delay: 0 !important;
  }
  
  .home-1nd-sec {
    height: 40vh;
}

.top-space
{
  padding-top: 10px;
}


  #footer .footer-top .social-links {
   
    gap: 30px;
    padding-top: 70px;
    padding-bottom: 70px;
}


  #footer .footer-top .social-links .get-btn {
   
    font-size: 18px;
    padding: 8px 12px 5px 12px;
    font-weight: 600;
  
}

#footer .footer-top .social-links a img {
  width: 20px;
  height: 20px;
}
#footer .footer-top .social-links .get-btn > img {
  height: 36px;
}


.home-3rd-sec ul.points li {
  font-size: 13px;
  padding-left: 12px;
}


.ride_heading {
  padding: 10px;
}

.ride_heading h3 {
  font-size: 22px;
}

.ride_heading img {
  width: 28px;
}


.akcie-section .top-title .heading {
  font-size: 18px;
}

.akcie-section .top-title img {
  width: 120px;
}


.akcie-2nd-section .full-width-container .content-sec1 .head .container img {
  width: 70px;
  margin-left: 40px;
  margin-right: 20px;
}

.akcie-2nd-section .full-width-container .content-sec1 .head .container .sample2Title {

  font-size: 20px;

}

.akcie-2nd-section .full-width-container .content-sec1 .container ul {
  top: 0px;
}

.akcie-2nd-section .full-width-container .content-sec1 .container ul li {
  font-size: 14px;
  gap: 10px;
}

.akcie-2nd-section .full-width-container .content-sec1 .bottom-buttuns .btn {
  padding: 11px 18px;
  font-size: 12px;
}

.akcie-2nd-section .full-width-container .sidebar
{
  height: 1583px;
}


.akcie-2nd-section.akcie-form .full-width-container .content-sec1 {
  margin-top: 50px;
}



}


@media screen and (max-width: 768px) {

  .home-1nd-sec {
    height: 40vh;
}


  #footer .footer-top .social-links {
   
    gap: 30px;
    padding-top: 70px;
    padding-bottom: 70px;
}


  #footer .footer-top .social-links .get-btn {
   
    font-size: 18px;
    padding: 8px 12px 5px 12px;
    font-weight: 600;
  
}

#footer .footer-top .social-links a img {
  width: 20px;
  height: 20px;
}
#footer .footer-top .social-links .get-btn > img {
  height: 36px;
}


.home-3rd-sec ul.points li {
  font-size: 13px;
  padding-left: 12px;
}


.boradingSliderSection .slick-next {
  right: -25px;
}

.boradingSliderSection .slick-prev {
  left: -25px;
}


.galeria-section .center h1 {
  font-size: 28px;
  font-weight: 700;

}



.treneri-section .container {
  padding-left: 3%;
  padding-right: 3%;
}
.treneri-section .card .team {
  width: 130px;
}

.treneri-section .card h3 {
  
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 15px;

}

.kontaksection .card-content-kontak  {
  text-align: center;
  margin-top: 50px;
}

.kontaksection .kontak-card {
  padding-top: 60px;
  padding-bottom: 60px;
}
.kontaksection .kontak-card img {

  width: 210px !important;
  height: 210px !important;
}

.kontaksection .card-content-kontak h3
{
  line-height: 1;
  font-size: 19px;
}

.kontaksection .card-content-kontak p {
  
  line-height: 1;
  font-size: 19px;
}

.Sponzori-section .title
{
  margin-top: 10px;
    margin-bottom: 10px;
}

.Sponzori-section .title img {
  width: 50%;
}

.treneri1section h2 {
  padding: 10px 28px 10px 10px;
  font-size: 22px;
}

.treneri1section .pic ul {
  padding-left: 0px;
}

.treneri1section .p-side ul li {
  
  flex-direction: column;
  margin-bottom: 20px;
}

.treneri1section .pic {
  justify-content: center;
}

.dot {
  height: 6px;
  width: 6px;
  margin-left: 0px !important;
}

.treneri1section h2
{
  margin: 0px;
  font-size: 16px;
}

.treneri1section .bottom-content {
  margin-top: 0px;
}

.treneri1section .p-detail ul li span:first-child,
.treneri1section .p-detail ul li span:last-child {
  font-size: 14px;
}

}

@media screen and (max-width: 630px) {

  .akcie-2nd-section .full-width-container .sidebar {
    height: 1203px;
}

  .gallery-controls {
    width: 100%;
    right: 0px;
  }
  
  .gallery-controls-next::before, .gallery-controls-previous::before {
    height: 15px;
    width: 15px;
}

.gallery-container {
  height: 240px;
  width: 100%;
}

.akcieslider .gallery-controls {
  width: 100%;
  right: 0%;
}

.akcie-2nd-section .full-width-container .content-sec1 .container ul li span:first-child {
  padding-right: 10px;
}

.akcie-2nd-section .full-width-container .content-sec1 .container ul li {
  gap: 20px;
  align-items: center;
}

.akcie-2nd-section .full-width-container .content-sec1 .container ul li span:last-child {

  width: 70%;
}



.akcie-2nd-section .full-width-container .sidebar
{
  display: none;
}

.akcie-2nd-section .full-width-container .content-sec .container
{
  margin-right: auto;
  margin-left: auto;
  width: auto;
}

.akcie-2nd-section .full-width-container .content-banner {
  margin-left: auto;
}

.akcie-2nd-section .full-width-container .content-sec .sample2Title {
  padding: 12px 18px 12px 18px;
  text-align: start;
}

.akcie-2nd-section .full-width-container .content-sec ul.points {
 
  margin-top: 40px;
  margin-bottom: 40px;
  gap: 5px 0px;
  
}

.akcie-2nd-section .full-width-container .content-sec ul.points li {
  font-size: 12px;
  padding-left: 0px;
}

.akcie-2nd-section .full-width-container .content-sec ul.points li::before {

  width: 10px;
  height: 10px;
  top: 4px;
  
}

.akcie-2nd-section .full-width-container .content-sec1 .container ul li span:first-child {
  color: var(--darkColor);
  font-weight: 700;
  text-align: initial;
  padding: 0px;
}


.akcie-2nd-section .full-width-container .content-sec1 .head .container {
  margin-left: auto;
  width: auto;
  max-width: 100%;
}

.akcie-2nd-section .full-width-container .container {

  margin: 0px auto;
}


.akcieslider {
  padding: 0px 0px;
}


.akcie-2nd-section.akcie-form .full-width-container .content-sec1 .container ul li {
  flex-direction: column;
}
.akcie-2nd-section.akcie-form .full-width-container .content-sec1 .container ul li span{
  width: 100% !important;
  font-size: 18px;
  line-height: 1;
}

.akcie-2nd-section.akcie-form .full-width-container .container {
  max-width: 100%;
}

.akcie-2nd-section.akcie-form .full-width-container .content-sec1 .container ul li {
  gap: 10px;
}

}



@media screen and (max-width: 575px) {


.treneri1section .pic ul {
 
  display: flex;
  gap: 50px;
}
.p-side ul img {
  padding: 0px;
}

.treneri1section .p-side ul li {
  gap: 0px;
}

.treneri1section .bottom-content {
    margin-top: 20px;
}

.treneri1section .p-detail ul li span:first-child {
  width: 30%;
}

.akcieslider .gallery-container
{
  height: 200px;
}


}
@media screen and (max-width: 520px) {


  .wrapper-center
  {
    display: none;
  }

  .appV
  {
    display: block;
  }

  .top-banner-paraphh
  {
    text-align: center;
    font-size: 10px;
    color: var(--darkColor);
    padding: 5px 20px;
  }
 

  .ride_heading h3 {
    font-size: 16px;
}

.logo-behindCollage {
  top: -20px;
}

.ride_heading img {
  width: 20px;
}
.ride_heading {
  padding: 10px;
}

  #footer .footer-top .social-links {
   
    gap: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}


  #footer .footer-top .social-links .get-btn {
   
    font-size: 18px;
    padding: 8px 12px 5px 12px;
    font-weight: 600;
  
}

#footer .footer-top .social-links a
{
  padding:8px;
}

#footer .footer-top .social-links a img {
  width: 16px;
  height: 16px;
}
#footer .footer-top .social-links .get-btn > img {
  height: 20px;
}

.ride_heading_bottom img {
  width: 20px;
}

.ride_heading_bottom h3 {
  font-size: 16px;
}


.home-3rd-sec ul.points li
{
  width: 100%;
}

.home-3rd-sec ul.points li::before {

  width: 10px;
  height: 10px;
  left: 0px;
  top: 4px;
}


.home-3rd-sec ul.points li {
  font-size: 13px;
  padding-left: 22px;


}

.home-3rd-sec h2 {
  font-size: 22px;
  color: black;
  font-weight: 700;
  margin-bottom: 30px;
}

.home-1nd-sec p {
  font-size: 12px;
}

#footer .credits {
  font-size: 13px;
}

.home-1nd-sec {
  height: 30vh;
}

.blogsection .blog-card p {
  font-size: 14px;
}


.card_button {
  
  padding: 10px 15px 10px 15px;
  font-size: 18px;
  align-self: end;
  font-weight: 900;
  transform: skewX(-10deg);
  justify-self: center;
  width: 100%;
}

.boradingSliderSection .slick-next {
  right: 25px !important;
  z-index: 111111;
}

.boradingSliderSection .slick-prev {
  left: 25px !important;
  z-index: 111111;
}

.boradingSliderSection .slick-next, .boradingSliderSection .slick-prev {

  background: white;
  padding: 5px;
}

.boradingSliderSection .slider_img {
  padding: 2px;
}

.kempSection .card h3 {
  font-size: 22px;
}

.kempSection .card ul li {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}

.kempSection .card .card-btn {
  font-size: 16px;
  border-radius: 10px;
  padding: 8px 30px;
}

.kempSection .card .card-body {
  padding: 10px 0px 0px 0px;
}

.boarding_section .boarding_1 {
  padding: 15px 20px 15px 15px;
}




.akcie-section .top-title .heading {

  padding: 13px 30px 14px 0px;
  left: -10px;
  font-size: 16px;
  
}

.akcie-section .top-title img {
  width: 100px;
}


.akcia-section-3 .heading {
  padding: 10px;
}

.akcia-section-3 .heading h3 {
  font-size: 16px;
}

.akcia-section-3 .heading img {
  width: 20px;
}

.akcia-section-3 {
  margin-top: 20px;
  margin-bottom: 40px;
}


.galeria-section .center h1 {
  font-size: 20px;

}

.galeria-section .text-center img {
  width: 100%;
}

.galeria-section .text-center .galeria{
  width: 100%;
}


.Sponzori-section img {
  padding: 0px;
  margin-bottom: 0px;
}

.Sponzori-section .title {
  padding: 0px 10px;
  gap: 10px;
}

.Sponzori-section .title img {
  width: 55%;
  height: 55%;
}

.Sponzori-section .title p {
  font-size: 10px;
}


.akcie-2nd-section .full-width-container .content-sec1 .head .container .sample2Title {
  font-size: 16px;
}
.akcie-2nd-section .full-width-container .content-sec1 .head .container img {
  width: 70px;
  margin-left: 30px;
  margin-right: 20px;
}
.akcie-2nd-section .full-width-container .content-sec1 .container ul li {
  gap: 20px;
  font-size: 12px !important;
  margin-bottom: 8px;
}

.akcie-2nd-section .full-width-container .content-sec1 .bottom-buttuns .btn {
  padding: 10px 15px;
  font-size: 12px;
  margin-bottom: 10px;
}




.akcie-2nd-section .full-width-container .content-sec1 .bottom-buttuns {
 
  flex-direction: column;
  margin-bottom: 10px;
}

.akcie-2nd-section .full-width-container .sidebar
{
  width: 25.5%;
}

}


@media screen and (max-width: 330px) {

  .akcie-2nd-section .full-width-container .sidebar {
    height: 1278px;
}

.akcieslider .gallery-container {
  height: 150px;
}

}