:root{
  --primary:#E1262D;
  --darkColor:#191919;
  --darkBlueTheme:#27285A; 
}

@font-face {font-family: "TexTBOLD"; src: url("https://db.onlinewebfonts.com/t/af5307d3d2a9f57f07d45e166c19c485.eot"); src: url("https://db.onlinewebfonts.com/t/af5307d3d2a9f57f07d45e166c19c485.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/af5307d3d2a9f57f07d45e166c19c485.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/af5307d3d2a9f57f07d45e166c19c485.woff") format("woff"), url("https://db.onlinewebfonts.com/t/af5307d3d2a9f57f07d45e166c19c485.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/af5307d3d2a9f57f07d45e166c19c485.svg#Neue Helvetica") format("svg"); }

@font-face {font-family: "TextLight"; src: url("https://db.onlinewebfonts.com/t/8b9f1de83c3fe10145c480637b2ea6e3.eot"); src: url("https://db.onlinewebfonts.com/t/8b9f1de83c3fe10145c480637b2ea6e3.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/8b9f1de83c3fe10145c480637b2ea6e3.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/8b9f1de83c3fe10145c480637b2ea6e3.woff") format("woff"), url("https://db.onlinewebfonts.com/t/8b9f1de83c3fe10145c480637b2ea6e3.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/8b9f1de83c3fe10145c480637b2ea6e3.svg#HelveticaNeueW01-77BdCnObl") format("svg"); }
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  /* font-family: "Open Sans", sans-serif; */
  font-family: 'Helvetica Neue', sans-serif;
/* font-family: 'Helvetica 25 UltraLight', sans-serif;
font-family: 'Helvetica 35 Thin', sans-serif;
font-family: 'Helvetica 45 Light', sans-serif;
font-family: 'Helvetica 55 Roman', sans-serif;
font-family: 'Helvetica 65 Medium', sans-serif; */
  color: #444444;
}

a {
  color: var(--primary);
  text-decoration: none;
}

a:hover {
  color: var(--primary);
  text-decoration: none;
}


/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid var(--primary);
  border-top-color: #e2eefd;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: var(--primary);
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #3284f1;
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #191a19;
  transition: all 0.5s;
  z-index: 997;
  /* height: 86px; */
  /* box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1); */
}
#header.fixed-top {
  /* height: 70px; */
}
#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 0.8px;
}
#header .logo a {
  color: #222222;
}
#header .logo a span {
  color: var(--primary);
}
#header .logo img {
  max-height: 100%;
}

.scrolled-offset {
  margin-top: 69px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/


.top-space
{
  padding-top: 70px;
}

.webLogo
{
  display: block;
}

.AppLogo
{
  display: none;
}


.lang_logo
{
  display: none;
}


.mycontainer
{
  width: 100px;
  padding-left: 0px;
  padding-right: 25px;
}

.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar > ul > li {
  white-space: nowrap;
  padding: 10px 0 10px 20px;
}
.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3px;
  font-size: 15px;
  /* font-weight: 600; */
  font-family: 'Helvetica 45 Light', sans-serif;
  color: white;
  white-space: nowrap;
  transition: 0.3s;
  position: relative;
}
.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar > ul > li > a:before {
  /* content: ""; */
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -6px;
  left: 0;
  background-color: var(--primary);
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}
.navbar a:hover:before, .navbar li:hover > a:before, .navbar .active:before {
  visibility: visible;
  width: 100%;
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: var(--primary);
}
.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 28px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}
.navbar .dropdown ul li {
  min-width: 200px;
}
.navbar .dropdown ul a {
  padding: 10px 20px;
  font-weight: 400;
}
.navbar .dropdown ul a i {
  font-size: 12px;
}
.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  color: var(--primary);
}
.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}



.appV
{
  display: none;
}


/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: white;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}
.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  right: 0;
  top: 69px;
  left: 0;
  bottom: 0;
  width: 60%;
  background: rgba(9, 9, 9, 0.9);
  transition: 0.3s;
  z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 0px;
  right: 150px;
  width: 100%;
  bottom: 0px;
  left: 0px;
  padding: 10px 0;
  background-color:transparent;
  overflow-y: auto;
  transition: 0.3s;
  transform: translateX(0px);
}
.navbar-mobile a, .navbar-mobile a:focus {
  padding: 10px 30px;
  font-size: 15px;
  color: white;
}
.navbar-mobile > ul > li {
  padding: 0;
}
.navbar-mobile a:hover:before, .navbar-mobile li:hover > a:before, .navbar-mobile .active:before {
  visibility: hidden;
}
.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: var(--primary);
}
.navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
  margin: 15px;
}
.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul li {
  min-width: 200px;
}
.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}
.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}
.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  color: var(--primary);
}
.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}


.home-1nd-sec
{
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
}


.wrapper-center
{
  width: 85%;
  margin: 0px auto;
  display: grid;
  align-self: flex-end;
}
.home-1nd-sec .riderlogo
{
  width: auto;
  display: inline-block;
  margin-top: 200px;
  /* margin-left: 120px; */
}

.home-1nd-sec .riderlogo img
{
 width: 550px;
}

.home-1nd-sec p
{
  text-align: center;
  font-size: 20px;
  color: var(--darkColor);
}

.ride_heading
{
  padding: 18px;
  background-color: var(--darkColor);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.ride_heading img
{
  width: 40px;
}

.ride_heading h3
{
  font-size: 30px;
  color: white;
  font-weight: 700;
  font-family: TexTBOLD;
}

.home-2nd-sec.container
{
  padding: 0px;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}
.collage_
{
    display: flex;
    justify-content: center;
    margin: 0px auto;
    width: 100%;
    height: auto;
}

.collage_ a img
{
  width: 100%;
  filter: grayscale(1);
  transition: 0.3s;
}

.collage_ a img:hover
{
  filter: grayscale(0);
}


.logo-behindCollage
{
  text-align: center;
  margin: 0px auto;
  width: 53%;
  position: relative;
  top: -70px;
  left: 0px;
}

.logo-behindCollage img
{
 width: 100%;
}


.home-3rd-sec
{
 /* background: red;  */
}

.home-3rd-sec h2
{
  font-size: 30px;
  color: black;
  font-weight: 700;
  margin-bottom: 30px;
}

.home-3rd-sec ul.points
{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 50px;
  padding: 0px;
  gap: 20px 0px;
}

.home-3rd-sec ul.points li
{
  width: 50%;
  color: black;
  position: relative;
  font-size: 16px;
  padding-left: 15px;
}

.home-3rd-sec ul.points li::before
{
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  left: -30px;
  top: auto;
  border-radius: 100%;
  background: black;
}


.ride_heading_bottom
{
  padding: 12px;
  background-color: var(--primary);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.ride_heading_bottom h3
{
  color: white;
  font-weight: 800;
  margin: 0px;
}


.ride_heading_bottom img
{
  width: 50px;
}
/*****************snowboard*****/








/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #191919;
  padding: 20px 0 20px 0;
  color: white;

}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .social-links
{
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 90px;
  padding-top: 70px;
  padding-bottom: 70px;
}

#footer .footer-top .social-links a {
 
  display: inline-block;
  background: white;
  border-radius: 100%;
  transition: 0.3s;
  width: auto;
  padding: 16px;
}


#footer .footer-top .social-links .get-btn {
 
  display: inline-block;
  background: var(--primary);
  border-radius: 0%;
  width: auto;
  color: white;
  line-height: 1.5;
  font-size: 28px;
  padding: 8px 12px 5px 12px;
  font-weight: 700;
  text-transform: uppercase;
  transform: skewX(-10deg);
}

#footer .footer-top .social-links .get-btn > img {
  width: 100%;
  height: 44px;
  transform: skewX(10deg);
}

 


#footer .footer-top .social-links a  img{
  width: 25px;
  height: 25px;
}
#footer .footer-top .social-links a:hover {
  background: var(--primary);
  color: #fff;
  text-decoration: none;
}

#footer .credits {
  text-align: center;
  font-size: 16px;
  color: white;
  width: 100%;
  font-family: 'Helvetica 45 Light', sans-serif;
  display: block;
}



.blogsection {
  width: 100%;
  margin-top: 50px;
}


.blogsection .blog-card p {
  font-size: 17px;
line-height: 1.5;
margin: 0px;
color: var(--darkColor);
font-family: 'Helvetica', sans-serif;
}

.blogsection .blog-card h2 {
  font-weight: 900;
  color: var(--darkColor);
  display: flex;
  margin: 0px;
  padding: 0px;
  font-size: 26px;
  font-family: TexTBOLD;

  
}



.card_button {
  background-color: var(--primary);
  border: none;
  color: white;
  font-family: TexTBOLD;
  text-decoration: none;
  outline: none;
  text-align: center;
  padding: 10px 60px 9px 30px;
  font-size: 23px;
  align-self: end;
  font-weight: 900;
  transform: skewX(-10deg);
  justify-self: flex-end;
}
.card_button:hover ,.button:hover {
background-color: #f00c0ce5;
color: white !important;
}

.blogsection .blog-card
{
  margin-bottom: 65px;
  padding-bottom: 100px;
  border-bottom: 1px solid #19191980;
}




.blogsection .blog-card .card-content
{

  /* padding-right: 20px; */
  height: 100%;
  display: grid;
}


.boarding_section
{
}

.boarding_section .boarding_1
{
  padding: 25px 40px 25px 35px;
  width: 50%;
}


.boarding_section .boarding_1 h5
{
  font-size: 22px;
  color: var(--darkColor);
  font-weight: 600;
  font-style: normal;
  margin-bottom: 20px;
}

.boarding_section .boarding_1 .ptext
{
 font-size: 15px;
 color: var(--darkColor);
 font-weight: 500;
 font-style: normal;
}

.boarding_section .boarding_1 .page_icon
{
  text-align: center;
  width: 100%;
  margin: 50px 0px;
}
.boarding_section .boarding_1 .page_icon img
{

  width: 120px;

}
.boarding_section .boarding_2
{
  width: 50%;
}

.boarding_section .boarding_2 img
{
  width: 100%;
}


.boradingSliderSection .slider_img
{
  width: 100%;
  padding: 10px;

}

.boradingSliderSection  .slick-slide
{
  height: auto;
}

.boradingSliderSection .slick-next {
  right: -36px;
}

.boradingSliderSection .slick-prev {
  left: -36px;
}


.a-right{
  transform: rotate(180deg) !important;
}
 
.boradingSliderSection  .slick-next, .boradingSliderSection  .slick-prev {

  width: 30px;
  height: 30px;

}
/* .boradingSliderSection .slick-prev:before{
  content: '→';
  background-image: url(assest/img/slider_arrow.png);
  position: absolute;
} */


.kempSection
{
  background: #cacacc;
  
}


.kempSection .card
{ 
  background: transparent;
  padding: 30px 0px;
  border: 0px;
}


.kempSection .card h3
{ 
  font-size: 26px;
  font-weight: 700;
  color: var(--darkBlueTheme);
  font-style: italic;
  font-family: TexTBOLD;
}
.kempSection .card ul
{ 
  list-style: none;
  color: var(--darkBlueTheme);
  padding: 0px;
}
.kempSection .card ul li
{ 
 margin-top: 17px;
 margin-bottom: 17px;
 font-size: 18px;
  font-weight: 600;
  color: var(--darkBlueTheme);
  font-style: italic;
  font-family: TexTBOLD;
}


.kempSection .card .card-btn
{
  background: white;
  font-size: 20px;
  color: var(--darkBlueTheme);
  border-radius: 12px;
  padding: 6px 30px;
  font-family: TextLight;
  letter-spacing: 2;
}
.Sponzori-section img
{
    padding: 10px;
    margin-bottom: 10px;
}


.Sponzori-section .title 
{
    display: flex;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.Sponzori-section .title p
{
  align-self: center;
  margin: 0px;
  font-size: 18px;
  font-weight: 400;
  color: #0f0f0f;
}
.Sponzori-section .title img
{

    display: flex;
    padding: 0px;
    margin: 0px;
    width: 40%;
}



.akcie-section
{
  padding-top: 60px;
  padding-bottom: 60px;
}

.akcie-section .top-title
{
  display: flex;
}

.akcie-section .top-title img
{
  width: 150px;
  height: auto;
  z-index: 111;
}

.akcie-section .top-title .heading 
{
  background-color: #0f0f0f;
  align-self: center;
  padding: 18px 28px 18px 18px;
  width: 100%;
  color: white;
  text-align: end;
  position: relative;
  left: -20px;
  margin-bottom: 20px;
  font-weight: 700;
  z-index: -1;
}

.kempSection.whiteCard
{
  background: white;
}

.kempSection.whiteCard .card h3 {

  color:#0f0f0f;
}


.kempSection.whiteCard .card ul li {
  color:#0f0f0f;
}


.kempSection.whiteCard .card .card-btn {
  background: #0f0f0f;
  color: white;
}

.kempSection.whiteCard .card-body
{
  padding: 8px;
}

.kempSection.blackCard
{
  background: #0f0f0f;
}


.kempSection.blackCard .card-body
{
  padding: 8px;
}

.kempSection.blackCard .card h3 {

  color:white;
}


.kempSection.blackCard .card ul li {
  color:white;
}


.kempSection.blackCard .card .card-btn {
  background: white;
  color: var(--darkBlueTheme);
}


.kempSection.blackCard .card-body
{
  padding: 8px;
}


.kempSection .card .card-btn:hover {
  background: var(--primary);
  color: white;
  transition: 0.3s;
}


.akcie-2nd-section
{
  /* background: red; */
  /* position: relative; */
}


.akcie-2nd-section .full-width-container
{
  width: 100%;

}
.akcie-2nd-section .full-width-container .sidebar
{
  width: 25%;
  background: var(--darkColor);
  height: 100vh;
    position: fixed;
  z-index: -111;
  left: 0px;
  top: 0px;
}

.akcie-2nd-section .full-width-container .content-sec
{
  width: 100%;
}

.akcie-2nd-section .full-width-container .content-sec .sample2Title
{
  background-color: var(--darkColor);
  align-self: center;
  padding: 12px 25% 12px 18px;
  width: 100%;
  color: white;
  font-family: TextLight;
  text-align: end;
  margin-top: 115px;
  margin-bottom: 20px;
  font-size: 20px;
  letter-spacing: 3px
}


.akcie-2nd-section .full-width-container .content-sec ul.points {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 50px;
  padding: 0px;
  gap: 20px 0px;
  width: 90%;
  margin: 0px auto;
  margin-top: 80px;
  margin-bottom: 80px;
}

.akcie-2nd-section .full-width-container .content-sec .container
{
  margin-left: 26%;
  width: 74%;
  position: relative;
}
.akcie-2nd-section .full-width-container .content-sec ul.points li {
  width: 100%;
  color: var(--darkColor);
  position: relative;
  font-size: 18px;
  font-weight: 400 !important;
  padding-left: 15px;
}


.akcie-2nd-section .full-width-container .content-sec ul.points li::before {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  left: -30px;
  top: auto;
  border-radius: 100%;
  background: var(--darkColor);
}

.akcie-2nd-section .full-width-container .content-banner
{ 

    margin-left: 17%;
}

.akcie-2nd-section .full-width-container .content-banner img
{ 
  width: 100%;
}


.akcie-2nd-section .full-width-container .content-sec1 .container ul
{
  margin: 0px;
  padding:0px;
  list-style: none;
  position: relative;
  top: -50px;
}


.akcie-2nd-section .full-width-container .content-sec1 .container ul li
{
  font-size: 18px;
  margin-bottom: 18px;
  display: flex;
  gap: 30px;
  flex-wrap: nowrap;
  text-align: end;
  flex-direction: row;
  width: 100%;
  font-family: TextLight;
  letter-spacing: 1;
}

.akcie-2nd-section .full-width-container .content-sec1 .container ul li span:first-child
{
  color: white;
  width: 20%;
  padding-right: 30px;
}


.akcie-2nd-section .full-width-container .content-sec1 .container ul li span:last-child
{
  color: var(--darkColor);
  text-align: left;
  width: 60%;
}

.akcie-2nd-section.akcie-form .full-width-container .content-sec1 .container ul li span:first-child
{
  font-size: 15px;
}

.akcie-2nd-section.akcie-form .full-width-container .content-sec1 .container ul li span:last-child
{
  line-height: 0.8;
}
.akcie-2nd-section .full-width-container .content-sec1 .container ul li span:last-child .form-control
{
  width: 60%;
  border-radius: 0px;
  border: 1px solid var(--darkColor);
}

.akcie-2nd-section .full-width-container .content-sec1 .container ul li span:last-child .form-control:focus
{
  background-color:transparent;
  outline: 0;
    box-shadow:none
}

.akcie-2nd-section.akcie-form .full-width-container .content-sec1 .container ul li {
  align-items: center;
  font-size: 20px;
}

.akcie-2nd-section.akcie-form .full-width-container .content-sec1 .container ul li
{
  gap: 20px;
}


.akcie-2nd-section.akcie-form .full-width-container .content-sec1 .container ul li
{
  margin-bottom: 25px;
}

.akcie-2nd-section.akcie-form .full-width-container .content-sec1 .container ul li span.form-check

{
  /* background: red; */
  width: 100%;
  margin-left: 4%
}

.akcie-2nd-section.akcie-form .full-width-container .content-sec1 .container ul li span .form-check-label
{
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-style: initial;
  line-height: 1;
}
.akcie-2nd-section.akcie-form .full-width-container .content-sec1 .btn {
    background: var(--primary);
    border: var(--primary);
    border-radius: 10px;
    padding: 10px 45px;
    font-family: TextLight;
    letter-spacing: 1;
    font-size: 20px;
}
.akcie-2nd-section.akcie-form .full-width-container .content-sec1 .btn:hover {
    background: var(--darkColor);
    border: var(--darkColor);
   
}

.akcie-2nd-section.akcie-form .full-width-container .content-sec1 .container ul li span p
{
  margin-top: 15px;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  font-style: initial;
  text-align: justify;
}
.akcie-2nd-section.akcie-form .form-check-input {

 border-radius: 0px;
  border: 1px solid var(--darkColor);
}

.akcie-2nd-section.akcie-form .form-check-input:focus {

  outline: 0;
  box-shadow: none;
 }

.akcie-2nd-section.akcie-form .form-check-input:checked {
  background-color: var(--primary);
  border-color: var(--primary);
}

.akcie-2nd-section .full-width-container .content-sec1 .bottom-buttuns
{

  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 30px;
}

.akcie-2nd-section .full-width-container .content-sec1 .bottom-buttuns .btn
{

  background: var(--darkColor);
  border: var(--darkColor);
  border-radius: 10px;
  padding: 10px 45px;
  font-family: TextLight;
  letter-spacing: 1;
  font-size: 20px;
}

.akcie-2nd-section .full-width-container .content-sec1 .bottom-buttuns .btn:hover
{

  background: var(--primary);
  border: var(--primary);
}



.akcie-2nd-section .full-width-container .content-sec1 {
  margin-top: 115px;
}

.akcie-2nd-section.akcie-form .full-width-container .content-sec1 {
  margin-top: 70px;
}

.akcie-2nd-section .full-width-container .content-sec1 .head .container
{
  margin-left: 25%;
  width: 75%;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0px;;
}

.akcie-2nd-section .full-width-container .content-sec1 .head .container .sample2Title
{
  align-self: baseline;
  padding-bottom: 15px;
  border-bottom: 1px solid;
  font-family: TextBold;
  width: 100%;
  text-align: end;
  color: var(--darkColor);
}


.akcie-2nd-section .full-width-container .content-sec1 .head .container img
{
  width: 100px;
  margin-left: 100px;
  margin-right: 50px;
}


.akcie-2nd-section .full-width-container .content-sec1 .container ul hr
{

  border-bottom: 1px solid var(--darkColor);
  opacity: 1;

}

.akcia-section-3
{
  margin-top: 130px;
  margin-bottom: 40px;
}

.akcia-section-3 .heading {
  padding: 18px;
  background-color: var(--primary);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.akcia-section-3 .heading img {
  width: 40px;
}
.akcia-section-3 .heading h3 {
  font-size: 30px;
  color: white;
  font-weight: 700;
  font-family: 'Helvetica Neue', sans-serif;
  font-style: italic;
}

.akcieslider .slider 
{
  margin: 0px !important;
}
.akcieslider .slider .slider_img
{
  width: 100%;
}




/************** galeria*************/
.galeria-section{
  margin-top: 120px;
  margin-bottom: 20px;
}
.galeria-section .center h1{
  
  text-align: center;
 font-size: 45px;
 font-family: TexTBOLD;
 font-weight: 900;
 color: var(--darkColor);
}
.galeria-section .text-center{
  margin-bottom: 20px;
}
.galeria-section .text-center img{
  margin-top: 20px;
  width: 40%;
}

.galeria-section .text-center .galeria{
  width: 50%;
}


/***************kontak***************/
.kontaksection {
  width: 100%;
  margin-top: 100px;
}

.kontaksection .kontak-card {
  
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 1px solid rgba(133, 129, 129, 0.979);
}


.kontaksection .kontak-card:nth-last-child(2) {
  
  border-bottom: none;

}

.kontaksection .col-md-7 {
  /* margin-top: 36px; */
  /* margin-left: 0px; */
  align-self: center;
}


.kontaksection .kontak-card .col-md-5{

  text-align: center;
}


.kontaksection .kontak-card img {

  /* align-items: center; */
  border-radius: 100%;
  width: 280px !important;
  height: 280px !important;
}

.kontaksection .card-content-kontak h3 {
  margin: 0px;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  color: black;
}

.kontaksection .card-content-kontak p {
  margin: 0px;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 100;
  color: black;
}

.kontaksection .card-content {
  margin: 0px;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 20px;
  justify-content: center;
  font-style: inherit;
  font-weight: 100;
  color: black;

}


.kontaksection .bootmLogo
{

  width: 60%;
  margin: 60px auto;

}

/* .kontaksection .kontak-card .card-content-kontak {
  
} */

.kontaksection .col-md-8 {
  align-items: center;
  position: relative;
  margin-left: 300px;
  margin-top: 100px;
}

.kontaksection-container {
  padding: 0px;
  width: 100%;
  margin-top: 100px;
  max-width: 100%;
  min-width: 100%;
}

.heading {
  padding: 18px;
  background-color: var(--primary);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.heading img {
  width: 40px;
}

.heading h3 {
  font-size: 29px;
  color: white;
  font-weight: 600;
}


/*************kontak1****************/
/* .kontak1section .heading h2{
  font-size: 20px;
  color: white;
  font-weight: 600;
} */

.kontak1section .heading {
  padding: 17px;
  margin-top: 50px;
  background-color: var(--primary);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 150px;
}
.kontak1section .kontak1section_paragrph{

  margin-top: 60px;
}
.kontak1section p{
  margin-left: 0px;
 text-align:left;
 font-size: 15px;
 font-family: 'Helvetica Neue', sans-serif;
 color: var(--darkColor);
}
.kontak1section .heading h2
{
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 20px;
  color: white;
 text-align: center;
 font-weight: 200;
 font-style: normal;
 
}
.kontak1section .center  {
  display: inline-block;
  margin: auto;
  width: 100%;
  padding: 20px 0px;
  text-align: center;
}
.center h3{
  display: inline;
  font-weight: 400;
  font-size: 16px;
  color: var(--darkColor);
  font-family: 'Helvetica Neue', sans-serif;
}


.treneri-section
{
  padding-top: 80px;
}


.treneri-section .container
{

  padding-left: 6%;
  padding-right: 6%;
}

.treneri-section .team-name
{
  width: 60%;
  padding-top: 20px;
  padding-bottom: 10px;
}


.treneri-section .card img
{
  width: 200px;
}

.treneri-section .card 
{
  text-align: center;
  background: transparent;
  border: transparent;
  align-items: center;
}

.treneri-section .card .team
{
  width: 200px;
}


.treneri-section .card h3
{
  color: var(--darkColor);
  font-weight: 400;
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.treneri-section .card h3 span
{
  font-weight: 700;
}

.space
{
  margin-top: 40px;
}

.treneri1section
{
  padding-top: 100px;
}

.treneri1section .p-side {
  text-align: center;
}


.treneri1section .profile-img {
 width: 100%;
}


.treneri1section .p-detail {
  margin-left: 0px;
  align-self: center;
}

.treneri1section h2 {
  background-color: #0f0f0f;
    align-self: end;
    padding: 18px 28px 18px 18px;
    width: 100%;
    color: white;
    text-align: right;
    position: relative;
    right: 10px;
    font-family: 'Helvetica Neue', sans-serif;
    margin-bottom: 20px;
    font-weight: 700;
    z-index: -1;
    text-transform: uppercase;
}

.treneri1section .p-detail ul li {
 
    margin-bottom: 22px;
    display: flex;
}

.treneri1section .p-detail ul li:last-child {
 

display: block;
}

.treneri1section .p-detail ul li:last-child span:first-child {
 
  display: block;

    float: left;
  }

.treneri1section .p-detail ul li:last-child span:last-child {

  display: block;
  width: 100%;
  margin: 0px;
  }
  

.treneri1section li {
  list-style: none;
}


.treneri1section .bottom-content
{
  margin-top: -20px;
}

.treneri1section .p-detail ul li span:first-child {
  font-family: 'Helvetica Neue', sans-serif;
  color: black;
  font-weight: 600;
  font-size: 20px;
  /* margin-right: 40px; */
  width: 25%;

}

.treneri1section .p-detail ul li span:last-child {
  color: black;
  font-style: normal;
  font-size: 20px;
  font-family: 'Helvetica', sans-serif;
  margin-left: 10px;
  width: 75%;
}

.treneri1section .p-side ul li {
  margin: 0px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;

}

.p-side ul img {
 
  width: 65px !important;
  padding: 0px;
 
}
.p-side ul li span:first-child{
  /* margin-left: 10px; */
}
.p-side  .dot span:last-child{
  /* align-items: center; */
}

.dot {
  height: 14px;
  width: 14px;
  background-color: var(--primary);
  border-radius: 50%;
  margin-left: 4px !important;
  display: inline-block;
}
.treneri1section .pic {
  height: 100%;
  display: flex;
  align-items: center;
}
.treneri1section .pic ul
{
  padding-left: 40px;
}
.profile-detail{
  padding-left: 0px;
    padding-right: 20px;
}

.gallery {
  width: 100%;
  position: relative;
  margin-bottom: 50px;
  
}

.gallery-container {
  align-items: center;
  display: flex;
  height: 500px;
  margin: 0 auto;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.gallery-item {
  opacity: 0;
  position: absolute;
  transition: all 0.3s ease-in-out;
  width: 600px;
  z-index: 0;
}

.gallery-item-1 {
  left: 50%;
  opacity: 0;
  transform: translateX(-50%);
}

.gallery-item-2,
.gallery-item-4 {
  opacity: 1;
  width: 50%;
  z-index: 1;
}

.gallery-item-2 {
  left: 20%;
  transform: translateX(-50%);
}

.gallery-item-3 {
  opacity: 1;
  left: 50%;
  transform: translateX(-50%);
  width: 85%;
  z-index: 2;
}

.gallery-item-4 {
  left: 80%;
  transform: translateX(-50%);
}

.gallery-item-5 {
  left: 50%;
  opacity: 0;
  transform: translateX(-50%);
}

.gallery-controls {
  display: flex;
  position: absolute;
  width: 110%;
  top: 50%;
  right: -5%;
  z-index: 2;
  justify-content: space-between;
}

.gallery-controls button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 16px;
  margin: 0 0px;
  padding: 0 0px;
  text-transform: capitalize;
}

.gallery-controls button:focus {
  outline: none;
}

.gallery-controls-previous {
  position: relative;
}

.gallery-controls-previous::before {
  content: '';
  display: inline-block;
  height: 40px;
  /* position: absolute; */
  background-repeat: no-repeat;
  /* background: white; */
  top: 0;
  transition: left 0.15s ease-in-out;
  width: 40px;
  background-image: url(../img/slider_arrow.png);
  background-position: center;
  background-size: cover;
}

.gallery-controls-next {
  position: relative;
}

.gallery-controls-next::before {
  content: '';
  display: inline-block;
  height: 40px;
  /* position: absolute; */
  background-repeat: no-repeat;
  /* background: white; */
  top: 0;
  transition: left 0.15s ease-in-out;
  width: 40px;
  background-image: url(../img/slider_arrow.png);
  background-position: center;
  background-size: cover;
  transform: rotate(180deg) translateY(0);

}


.gallery-nav {
  bottom: -15px;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  position: absolute;
  width: 100%;
}

.gallery-nav li {
  background: #ccc;
  border-radius: 50%;
  height: 10px;
  margin: 0 16px;
  width: 10px;
}

.gallery-nav li.gallery-item-selected {
  background: #555;
}

.akcieslider
{
  padding: 0px 20px;
}
.akcieslider .gallery-controls
{
  width: 100%;
  right: 0%;
}

.akcieslider .gallery-item-2, .akcieslider  .gallery-item-4
{
  width: 60%;
}

.akcieslider  .gallery-item-2
{
  left: 32%;
}
.akcieslider  .gallery-item-4
{
  left: 68%;
}

.akcieslider  .gallery-container
{
  height:  580px;
}


.akcie-2nd-section .full-width-container .container
{
  max-width: 85%;
  margin: 0px auto;
}

/* .akcie-2nd-section.akcie1 .full-width-container .sidebar
{
    height: 100vh;
    position: fixed;
} */

.akcie-2nd-section.akcie-form .full-width-container .content-sec .sample2Title
{
    background: var(--primary);
}